{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "ignore": [
    "src/app/integral.js",
    "src/app/integral.js.map",
  ]
}
